@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Raleway', Arial, serif;
}
html{
  font-size: 100%;
  max-width: 100%;
}
header{
    margin: 0 0.5rem;
} 
body{
    margin: 0px;
}


/*Header*/
.top-nav #logo{
    margin-left: 1rem;
}

.top-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: .5rem;
    column-gap: 0;
    width: 100%;
    justify-content: space-between;
}
.top_logo{
    margin-top: 0;
    padding-left: 1.5rem;
}
.top-nav a{
    border-top: 0;
    padding: 1rem;
    text-decoration: none;
    color: black;
}
#hebergements, #activites{
    padding-left: 2rem;
    border-bottom: 3.5px solid #F2F2F2;
    border-top: 0;
    padding: 1rem;
    text-align: center;
}
#hebergements{
    color: #0065FC;
    border-bottom: 3.5px solid #0065FC;
}
#hebergements:hover, #activites:hover, #important:active{
    border-bottom: 3.5px solid #0065FC;
}
#important {
    color: #0065FC;
    font-weight: bold;
    grid-area: 1/2;
    margin-left: 4rem;
}

        /*Titre*/
.sect1{
    margin-top: 2rem;
}
    
.sect1 h1{
    margin: 0 1rem;
}

        /*barre de recherche*/
.searchbar{
	display: flex;	
    margin-bottom: 1.5rem; 
	height: 2.5rem;
    margin: 1rem 1rem;
}
.searchbar #zonedetexte{
    width: 15rem;
    border: 2px solid transparent;
}
.searchbar i{ 
	display: flex;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 1rem 0 0 1rem;
	align-items: center;
	cursor: pointer;
    background: #F2F2F2;
    justify-content: center;
}
.searchbar .fa-search{
    background: none;
    padding-left: 0.1rem;
    padding-right: 0;
}
.searchbar button{ 
	color:white;
	background-color: #0065FC;
	border-radius: 20% 20% 20% 20%;
	font-size: medium;
	border-width: 0;
    cursor: pointer;
    height: 100%;
    width: 2.5rem;
}
  
button span{
  display: none;
}

        /*Filtres*/
.sect2 .filtres h2{
    flex-basis: 100%; 
}
.filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: large;
    margin: 1rem 1rem;
}
.filtres h2{
    width: 100%;
}
.filtres button{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    margin-right: 29px;
    cursor: pointer;
    padding-right: 15px;
    padding-left: 0.5px;
    font-weight: bold;
    max-width: 155px;
    background-color: #ffffff;
}
.filtres i {
    background-color: #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin-left: -2px;
}
.filtres span{
    display: flex;
    margin-left: 10px;
}
.filtres .dog{ 
    max-width: 220px;
}
.filtres .dog p{ 
    max-width: 190px;
    margin-top: 0;
}
.filtres button:hover{
    background-color: #DEEBFF;
    cursor: pointer;
    transform: scale(1.05);
}
  .information{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
  }
  .information p{
    margin-left: 1rem;
  }
  .fa-info{
    color: #0065FC;
  }
  
  .fa-info {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #aaa;
    padding: 0.7em 1em;
  }
            
        /*Sect 3 section1/2*/
        /*Titre+icon*/
.titrepopulaire{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: center;
    width: 90%;
}
.titrepopulaire .stats{
    cursor: pointer;
    font-size: 30px;
}
.titrepopulaire .stats:hover{
    color: #0065FC;
}
.titlehebergement{
    flex-basis: 100%;
}
.titlehebergement h2{
    display: flex;
    margin-right: 2rem;
    margin-top: 3rem;
}
.eurogras{
    font-weight: bold;
}
.sect3{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}
        /*SECTION3-SECTION2*/
.sect3-section2{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.sect3-section2 img{
    height: 150px;
    width: 40%;
    display: flex;
    align-items: center;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid white;
}

.sect3-section2 .block1{
    display: flex;
    margin: 0.5rem 1rem;
    max-width: 337px;
    max-height: 269.44px;
    border-radius: 20px;
    background: white;
    
}
.sect3-section2 a{
    text-decoration: none;
    color: black;
}
.sect3-section2 .blockmarg{
    margin-bottom: 3rem;
}
.description-section2{
    border-radius: 0rem 2rem 2rem 0rem;
    max-width: 51%;
}

.sect3-section2 .block1:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.starsrecommandation{
    color: #0065FC;
}
.starsrecommandation .grey{
    color: #d9d9d9;
}
.sect3-section2 .description-section2 .starsrecommandation{
    margin-top: 35px;
    margin-left: 1rem;
}
.sect3-section2 h3, p{
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0px;
}

        /*SECTION3-SECTION1*/
.sect3-section1{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    
}
.sect3-section1 .block1{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    /* max-width: 337px;
    max-height: 269.44px; */
    flex: 1 0 20rem;
    border-radius: 2rem;
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 50%);
    background: white;
    
}
.block1 a{
    text-decoration: none;
    color: black;
}
.sect3-section1 img{
    /* height: 115px; */
    /*width: 327px;*/
    width: calc(100% - 1rem);
    display: flex;
    justify-content: center;
    height: 9rem;
    /* align-items: center; */
    /* object-fit: cover; */
    border-radius: 2rem 2rem 0px 0px;
    padding: 0.5rem;
    /* border: 5px solid white; */
    
}
.sect3-section1 .block1:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.sect3-section1 .description{
    border-radius: 0rem 0rem 2rem 2rem;
}
#hotelbleublanc{
    width: 152.8px;
}
.sect3-section1 h3, p{
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0px;
}
.sect3-section1 .starsrecommandation{
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.afficherplus{
    margin-right: 14rem;
}

        /*Sect 4*/
.sect4-section1 h2{
    margin-left: 1rem;
}
.sect4-section1 a{
    text-decoration: none;
    color: black;
}
.sect4{
    display: flex;
    align-content: center;
    justify-content: center;
}
.sect4 img{
   height: 135px;
    width: 327px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.block4-1, .block4-2, .block4-3, .block4-4, .block4-5, .block4-6{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    max-width: 337px;
    max-height: 269.44px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 50%);
}
.description-sect4{
    margin-left: 1.5rem;
}
footer{
    background: #F2F2F2;
}
.footerbottom{
    display: flex;
    flex-direction: column;
    
}
.footerbottom h2{
    margin: 2rem 1rem;
    margin-top: 3rem;
}
.footerbottom a{
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
.footerbottom a:hover{
    cursor: pointer;
    color: #0065FC;
}



/*MEDIA Q*/
@media screen and (min-width:576px){

    #hebergements, #activites, #important{
        border-bottom: unset;
        padding: 25px;
    }
    #hebergements{
        color: #0065FC;
        border-top: 3.5px solid #0065FC;
    }
    #hebergements:hover, #activites:hover, #important:hover{
        border-top: 3.5px solid #0065FC;
        border-bottom: unset;
    }
    
    .sect1, .sect2{
        margin-left: 1rem;
    }
    .top-nav{
        display: flex;
        justify-content: center;
        margin: 0 1.5rem;
        width: auto;
    }
    .top-nav #logo{
        margin-right: auto;
        margin-left: unset;
    }
    #important{
        margin-left: 0;
    }
    button span{
        display: block;
    }
    .searchbar .fa-search{
        display: none; 
    }
    .searchbar button {
        color: white;
        background-color: #0065FC;
        border-radius: 0 1rem 1rem 0;
        font-size: medium;
        border-width: 0;
        cursor: pointer;
        height: 100%;
        width: 6.5rem;
    }
    .sect3-section2 .block1{
        box-shadow: 0 0 0.4rem rgb(0 0 0 / 50%);
    }
    .information{
        margin-left: 2rem;
    }

}

@media screen and (min-width:768px){
    
    
    .titlehebergement{
        width: 100%;
        margin-left: 1rem;
        flex-basis: 100%;
    }
    .sect3-section1{
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }
    
    .titlehebergement h2{
        margin-left: 2rem;
    }
    .block4-1, .block4-2, .block4-3, .block4-4, .block4-5, .block4-6{
        margin: 1rem 1rem;
    }
    .sect3-section2 .description-section2 .starsrecommandation{
        margin-top: 20px;
    }
    .sect4-section1 h2{
        width: 100%;
        margin-left: 2rem;
    }
    .sect4-section1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footerbottom{
        flex-direction: row;
        /*justify-content: space-around;*/
        padding: 2.5rem; 
    }
    .footercolumn{
        margin-right: auto;
    }

}

@media screen and (min-width:992px){

    .description-section2{
        font-size: 15px;
    }
    .sect3-section2 .description-section2 .starsmodif{
        margin-top: 2px;
    }
    .sect3{
        flex-direction: row;
    }
    .titlehebergement h2{
        margin-left: 1rem;
    }
    .sect3-section1{
        background: #F2F2F2;
        border-radius: 2rem 2rem 2rem 2rem;
        margin-left: 1rem;
    }
    .titlehebergement h2{
        margin-top: 1rem;
    }
    
    .sect3-section1{
        width: 70%;
    }
    .description h3{
        max-width: 245px;
    }
    .sect3-section2{
        border-radius: 2rem 2rem 2rem 2rem;
        height: unset;
        margin: 0 2rem;
        width: 30%;
    }
    .titrepopulaire{
        margin-top: 0;
        margin-bottom: 2rem;
    
    }
    .sect3-section1 .description{
        height: 108px;
        
    }
    .sect3-section1 .block1{
        margin: 0.5rem 0.5rem;
        max-width: 30%;
    }
    .titlehebergement .afficherplus{
        margin-bottom: 30px;
    }
    .titlehebergement .afficherplus:hover{
        cursor: pointer;
        color: #0065FC;
    }
    .sect4-section1{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:10% 30% 5% 5% 30%;
        column-gap: 1.5rem;
        padding: 0rem 2.5rem;
        margin-bottom: -4rem;
        margin-top: 4rem;
    }
    .sect4-section1 > div{
        box-shadow: 0 0 0.5rem rgb(0 0 0 / 50%);
        border-radius: 2rem 2rem 2rem 2rem;
        margin: 0;
    }
      .sect4-section1 h2{
        width: 231px;
        margin-left: 0rem;
        grid-area: 1/1/1/5;
    }
      .sect4-section1 > div:hover{
        transform: scale(1.01);
    }
      .sect4-section1 img{
        border-radius: 2rem 2rem 0rem 0rem;
    }
      .sect4-section1 a{
          text-decoration: none;
          color: black;
      }
      .sect4-section1 .block4-1{
        grid-area:2/1/6/2 ;
        cursor: pointer;
    }
    .block4-1 img{
        height: 88%;
        width: 100%;
        object-fit: cover;
    }
    .sect4-section1 .block4-2{
        grid-area: 2/2/4/2;
        cursor: pointer;
    }
    .block4-2 img{
        height: 75%;
        width: 100%;
        object-fit: cover;
    }
    .sect4-section1 .block4-3{
        grid-area: 5/2/6/2;
        cursor: pointer;
    }
    .block4-3 img{
        height: 72%;
        width: 100%;
        object-fit: cover;
    }
    .sect4-section1 .block4-4{
        grid-area: 2/3/6/3;
        cursor: pointer;
    }
    .block4-4 img{
        height: 88%;
        width: 100%;
        object-fit: cover;
    }
    .block4-4 .description-sect4{
        margin-top: -15px;
    }
    .sect4-section1 .block4-5{
        grid-area: 2/5/3/4;
        cursor: pointer;
    }
    .block4-5 img{
        height: 72%;
        width: 100%;
        object-fit: cover;
    }
    .block4-5 .description-sect4{
        margin-top: -15px;
    }
    .sect4-section1 .block4-6{
        grid-area: 4/5/6/4;
        cursor: pointer;
    }
    .block4-6 img{
        height: 75%;
        width: 100%;
        object-fit: cover;
    }
    .block4-1, .block4-2, .block4-3, .block4-4, .block4-5, .block4-6{  
        display: unset;
        flex-direction: unset;
        margin: 1rem 1rem;
        max-width: unset;
        max-height: unset;
        border-radius: unset;
        box-shadow: unset;
    }

}

@media screen and (min-width:1200px){
    

    .sect3-section2 .description-section2 .starsrecommandation{
        margin-top: 20px;
    }
    .description h3{
        max-width: 235px;
    }
   
    .sect3-section1 .block1{
        max-width: 30%;
    }
    .block4-5 .description-sect4{
        margin-top: 0px;
    }
    .sect3-section1 {
        width: 75%;
    }
    

}

@media screen and (min-width:1276px){


    .block4-4 .description-sect4 {
        margin-top: -2px;
    }

}

@media screen and (min-width:1400px){
    main{
        width: 1400px;
        margin: auto;
    }
    .sect3-section1 .block1{
        max-width: 30%;
    }
    
    .block4-4 .description-sect4{
        margin-top: -2px;
    }
    .footerbottom{
        display: flex;
        justify-content: space-between;
        width: calc(1400px - 5rem);
        margin: auto;
    }
    
}

@media screen and (min-width:1700px){
    .sect3-section1 .block1{
        width: 30%;
    }
  

}