@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	font-family: 'Raleway', Arial, serif;
  }

  
.sect2,.sect1,.sect3{
	width: 100%;
}

/*Start menu*/
  .top_nav{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: .5rem;
    column-gap: 0;
    width: 100%;
  }
  .top_logo{/*logo*/
    margin-top: 0;
    padding-left: 1.5rem;
  }
  .top_nav a{
    border-top: 0;
    padding: 1rem;
   
  }
  #hebergements, #activites{
    padding-left: 2rem;
    border-bottom: 3.5px solid #F2F2F2;
    border-top: 0;
    padding: 1rem;
  }
  #important{
    grid-area: 1/2;
    margin-left: 4rem;
  }
  #hebergements:active, #activites:active, #important:active{
    border-bottom: 3.5px solid #0065FC;
  }
  .important {
    color: #0065FC;
    font-weight: bold;
}
/*End */


/*Start top h2 / p*/
.sect1{
	font-size: 1em;
	padding: 0.5rem;
}
/*End*/


/*Start sect1 barre de recherche*/
.searchbar{
	display: flex;	
  margin-bottom: 1.5rem; 
	height: 2.5rem;
  justify-content: center;
}
.searchbar #zonedetexte{
  width: 15rem;
}
.searchbar i{ 
	display: flex;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 1rem 0 0 1rem;
	align-items: center;
	cursor: pointer;
  background: chartreuse;
  justify-content: center;
}
.searchbar .fa-search{
  background: none;
  padding-left: 0.1rem;
  padding-right: 0;
}
.searchbar button{ 
	color:white;
	background-color: #0065FC;
	border-radius: 20% 20% 20% 20%;
	font-size: medium;
	border-width: 0;
	cursor: pointer;
  height: 100%;
  width: 2.5rem;
  }
/*End*/


/*Start sect2 Filtres*/
.sect2 .filtres h2{
  flex-basis: 100%; /*Determine le h2 a 100% comme width 100%*/
}
.filtres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: large;
  padding-left: 2rem;
  
}

.filtres button{
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
	border-radius: 2rem 2rem 2rem 2rem;
	margin: 0.5rem;
  display: flex;
  align-items: center;
}
.filtres i {
  
  background-color: #DEEBFF;
  border-radius: 50%;
  color: #0065FC;
  height: 55px;
  width: 55px;
  align-items: center;
  justify-content: center;
  display: flex;
}

/*End*/

/*Start section3*/
.sect3, .description h3{
  margin: 0;
}
.sect3, .description p{
  margin-top: 0;
}
.starsrecommandation{
  color: #0065FC;
}
.starsrecommandation .grey{
  color: grey;
}
/*Start Hebergement*/

 .sect3{
	 display: flex;
	 width: 100%;
   flex-direction: column;
 }
 .sect3 .sect3-section1, .sect3 .sect3-section2{
	
	width: 100%;
	flex-direction: column; 
}

.block1 > img{
	object-fit: cover;
	height: 8rem;
	width: 100%;
	max-width: 100%;
	margin: 0;
	border-radius: 2rem 2rem 0rem 0rem;
} 
.sect3-section1 .block1 .description{
  display: flex;
  flex-direction: column;
	margin-left: 1.5rem ;
}

.sect3-section1 .block1{
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 50%);
  border-radius: 2rem 2rem 2rem 2rem;
  
}
.block1{
  margin-bottom: 2rem;
}

/*End Hebergement*/



/*Start les plus populaires*/
.sect3 .sect3-section2{
  order: 1;
  background: #F2F2F2;
}
.sect3 .sect3-section1{
  order: 2;
}
.sect3, .description-section2 h3{
  margin: 0;
}
.sect3, .description-section2 p{
  margin-top: 0;
  margin-bottom: 55px;
}
.description-section2{
  padding-left: 1.5rem;
}


.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sect3-section2 .block1 .description{
  display: flex;
  flex-direction: column;
}

.sect3-section2 .block1{
	display: flex;
	flex-direction: row;	
	box-shadow: 0 0 0.5rem rgb(0 0 0 / 50%);
	border-radius: 2rem 2rem 2rem 2rem;
	margin: 2rem 0;
}
.sect3-section2 .block1 > img {
  height: 150px;
  width: 40%;
  border-radius: 2rem 0 0rem 2rem;
}


/*End les plus visites*/


/*Activites*/
.sect4{
  display: flex;
  flex-direction: column;
}
.sect4-section1 .block4 > img {
  height: 150px;
  width: 100%;
  border-radius: 2rem 2rem 0rem 0rem;
}
.block4{
  margin-bottom: 2rem;
  border-radius: 2rem 2rem 2rem 2rem;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 50%);
}
.description-sect4{
  display: flex;
  align-content: center;
  margin-left: 1rem;
}
/*End*/

.footercolumn{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.footercolumn a{
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}
.footercolumn a:hover{
  cursor: pointer;
  color: #0065FC;
}

/*
@media screen and (max-width: 1200px) {

  .top_nav{
    display: grid;
    grid-template-columns: 60% auto auto auto;
    width: 100%;
    
  }
  .top_logo {
    margin: 2rem;
    cursor: pointer;
  }
  .top_nav a {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 3rem 1.25rem;
    border-top: 2px solid transparent;
  }
  .top_nav a:hover{
    border-top-color: #0065FC;
    color: #0065FC;
  }
  .sect1{
    padding-left: 2rem;
  }
  .searchbar{
    justify-content: flex-start;
  }
  .searchbar button {
    color: white;
    background-color: #0065FC;
    border-radius: 0% 30% 30% 0%;
    font-size: medium;
    border-width: 0;
    cursor: pointer;
    height: 100%;
    width: 6rem;
  }
  .sect3 {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 2rem;
  }
  .sect3 .sect3-section1 {
  order: 1;
  }
  .sect3 .sect3-section2 {
  order: 2;
  }

  .sect3-section1{
  display: flex;
  justify-content: space-between;
  }
  
}*/