@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

html{
  font-size: 100%;
  font-family: 'Raleway', Arial, serif;

}

/*Toute la page*/

.container{
  max-width: 100%;
  margin: auto;
  padding: 2rem;
}

/*TOP_NAV*/
/*MENU*/
.top_nav{
  display: grid;
  grid-template-columns: 3fr repeat(3, auto);
  column-gap: 1.5rem;
  
}

.top_nav a{
  text-decoration: none;
  color: black;
  padding: 3rem 1.25rem;
}

.top_nav a:hover{
  text-decoration: 1px overline;
  color: #0065FC;
}

/*LOGO*/
.top_logo{
  display: flex;
  align-items: center;
  margin: 1rem;
}

/* MAIN / Autres contenues */
.top_recherche{
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  height: 3rem;
}
